* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    user-select: none;
}

body {
    background-color: #C8FFC3;
    background-image: url("imgs/backgound.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#top-banner {
    width: auto;
    color: white;
    padding: 20px;
    font-size: 170%;
    user-select: none;
    backdrop-filter: blur(30px);
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

#into-img1 {
    width: 25%;
    vertical-align: middle;
    float: left;
    min-width: 213.8px;
    margin-top: 2%;
    max-width: 232px;
    user-select: none;
    margin: auto;
    margin-right: 100px;
    margin-left: 50px;
}

.line {
    border: white solid 1px;
}

h1 {
    display: inline;
}

.box {
    margin-left: 10%;
    margin-right: 10%;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 30px;
    margin-top: 60px;
    color: white;
    user-select: none;
}

#content1 {
    display: flex;
    justify-content: space-between;
}

#intro-box {
    vertical-align: middle;
}

.intro-text {
    display: inline-block;
    width: 60%;
    margin-right: 0;
    text-align: justify;
    vertical-align: middle;
    max-width: 630px;
}

#qub-logo {
    display: inline-block;
    width: 20%;
    margin-right: 0;
    min-width: 200;
}

#banner-text {
    display: inline-block;
    margin: auto;
    margin-left: 0;
    font-size: 110%;
    max-width: 5100px;
}


/* colours */